<h3>Chọn tháng doanh thu : 
    <input type="month" [(ngModel)]="month" name="month" (change)="chonthang($event);">
    <input type="button" class="btn btn-danger float-right" 
        (click)="break()" value="Break" />
</h3>
<sb-card>

    <div class="card-body">
        <div *ngIf="checkdoanhthus then display; else loading"></div>
        <ng-template #display>
            <table style="width: 100%;" border="1">
                <tr>
                    <td style="text-align: center;width: 20%;">id</td>
                    <td style="text-align: center;width: 20%;">id quán</td>
                    <td style="text-align: center;width: 40%;">Doanh Thu</td>
                    <td style="text-align: center;width: 20%;">ngày</td>
                    
                </tr>
                <tr *ngFor="let doanhthu of doanhthus ;">
                    <td>
                        {{doanhthu.id}}
                    </td>
                    <td>
                        {{doanhthu.idquan}}
                    </td>
                    <td>
                        {{doanhthu.doanhthu}}
                    </td>
                    <td>
                        {{doanhthu.time}}
                    </td>
                </tr>
            </table>
            <strong>Tổng Doanh thu của tháng : </strong>{{tongDanhthu}}
        </ng-template>
        <ng-template #loading>
            <div class="text-center">
                <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>

    </div>
</sb-card>
<h1>Doanh thu của năm : <input type='number' min="2020" [(ngModel)]="year" name="year" max="2100" (change)="chonNam();">
<sb-card>
    <div class="card-header">
        <h4>Dạng biểu đồ :{{dangBD}} 
            <input type="button" class="btn btn-info float-right" (click)="cot()" value="Biểu đồ Cột" />
            <input type="button" class="btn btn-success float-right" (click)="tron()" value="Biểu đồ tròn" />
            <input type="button" class="btn btn-primary float-right" (click)="duong()" value="Biểu đồ đường" />
        </h4>
    </div>
    <div class="card-body">
        <div *ngIf="checkdoanhthustheonam then display1; else loading1"></div>
        <ng-template #display1>
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="lineChartDataOB"
                    [labels]="lineChartLabelsOB" 
                    [colors]="lineChartColors" 
                    [chartType]="lineChartTypeOB"
                ></canvas>
            </div>
            <strong>Tổng Doanh thu của năm {{year}}: </strong>{{tongDanhthucuuanam }}
        </ng-template>
        <ng-template #loading1>
            <div class="text-center">
                <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>

    </div>
</sb-card>


    