<sb-card>
    <div class="card-header">
        <h1 style="color:blue;text-align: center;">Thông tin đặt sân</h1>
    </div>
    <div class="card-body">
        <sb-card>
            <div class="card-header">
                <div class="custom-control custom-switch">
                    <input (click)="ChangeStatus()" type="checkbox" class="custom-control-input" id="status" checked>
                    <label class="custom-control-label" for="status">
                        <h3>Trạng thái xác nhận</h3>
                    </label>
                </div>
            </div>
            <div class="card-body">
                <div *ngIf="trangthai">
                    <h1>Danh sách đặt sân của chủ quán đã xác nhận</h1>
                    <sb-card>
                        <div class="card-body">
                            <div *ngIf="checkdatsans ; then display ; else loading"></div>
                            <ng-template #display>
                                <div class="row">
                
                                    <table class="table table-striped " style="width:100%">
                                        <thead>
                                            <tr>
                                                <td>STT</td>
                                                <td>Tên sân</td>
                                                <td>Số người</td>
                                                <td>Tiền</td>
                                                <td>Tên Người đặt</td>
                                                <td>Số điện thoại người đặt</td>
                                                <td>giờ đặt sân</td>
                                                <td>chủ quán xác nhận</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let datsan of datsansnew ; index as i">
                                                <td>{{(page-1)*10+i+1}}</td>
                                                <td>{{datsan.san.name}}</td>
                                                <td>{{datsan.san.numberpeople}}</td>
                                                <td>{{datsan.price}}</td>
                                                <td>{{datsan.user.name}}</td>
                                                <td>{{datsan.user.phone}}</td>
                                                <td>{{datsan.start_time}}</td>
                                                <td>
                                                    <input type="button" class="btn btn-primary" value="đã xán nhận" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                
                                </div>
                            </ng-template>
                
                            <ng-template #loading>
                                <div class="text-center">
                                    <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </ng-template>
                
                        </div>
                    </sb-card>
                </div>
                
                <div *ngIf="!trangthai">
                    <h1>Danh sách đặt sân của quán chưa xác nhận</h1>
                    <sb-card>
                        <div class="card-body">
                            <div *ngIf="checkdatsans ; then display1 ; else loading1"></div>
                            <ng-template #display1>
                                <div class="row">
                                    <table class="table table-striped " style="width:100%">
                                        <thead>
                                            <tr>
                                                <td>STT</td>
                                                <td>Tên sân</td>
                                                <td>Số người</td>
                                                <td>Tiền</td>
                                                <td>Tên Người đặt</td>
                                                <td>Số điện thoại người đặt</td>
                                                <td>giờ đặt sân</td>
                                                <td>chủ quán xác nhận</td>
                                                <td>Actions</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let datsan of datsansnew ; index as i">
                                                <td>{{(page-1)*10+i+1}}</td>
                                                <td>{{datsan.san.name}}</td>
                                                <td>{{datsan.san.numberpeople}}</td>
                                                <td>{{datsan.price}}</td>
                                                <td>{{datsan.user.name}}</td>
                                                <td>{{datsan.user.phone}}</td>
                                                <td>{{datsan.start_time}}</td>
                                                <td>
                                                    <input type="button" class="btn btn-primary" (click)="xacnhan(datsan.id)"
                                                        value="xác nhận" />
                                                </td>
                                                <td>
                                                    <fa-icon (click)="deleteDatSan(datsan)" [icon]='["fas","trash"]'
                                                        class='fas fa-trash fa-2x'>
                                                    </fa-icon>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                
                                </div>
                            </ng-template>
                
                            <ng-template #loading1>
                                <div class="text-center">
                                    <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </ng-template>
                
                        </div>
                    </sb-card>
                </div>
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        <div class="row text-center">
                            <input type="button" class="btn btn-success" (click)="Previous()" value="Previous">
                    
                            <div *ngFor="let vitri of mangtrang; index as i">
                                <div *ngIf="page==i-2">
                                    <a class="page-link">... </a>
                                </div>
                                <div *ngIf="page>i-2 && page<i+4">
                                    <li *ngIf="vitri" class="page-item active">
                                        <a class="page-link" (click)="chontrang(i+1)">{{i+1}} </a>
                                    </li>
                                    <li *ngIf="!vitri" class="page-item">
                                        <a class="page-link" (click)="chontrang(i+1)">{{i+1}} </a>
                                    </li>
                                </div>
                                <div *ngIf="page==i+4">
                                    <a class="page-link">... </a>
                                </div>
                            </div>
                            <input type="button" class="btn btn-danger" (click)="Next()" value="Next">
                        </div>
                    </ul>
                </nav>
            </div>
        </sb-card>
    </div>
</sb-card>
