<div class="custom-control custom-switch">
    <input (click)="ChangeStatus()" type="checkbox" class="custom-control-input" id="status" checked>
    <label class="custom-control-label" for="status"><h3>Trạng thái xác nhận</h3></label>
</div>
<div *ngIf="trangthai">
    <h1>Danh sách đặt sân của chủ quán đã xác nhận</h1>
    <sb-card>
        <div class="card-body">
            <div *ngIf="checkdatsans ; then display ; else loading"></div>
            <ng-template #display>
                <div class="row">
    
                    <table class="table table-striped " style="width:100%">
                        <thead>
                            <tr>
                                <td>id</td>
                                <td>Tên sân</td>
                                <td>Số người</td>
                                <td>Tiền</td>
                                <td>Tên Người đặt</td>
                                <td>Số điện thoại người đặt</td>
                                <td>giờ đặt sân</td>
                                <td>chủ quán xác nhận</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let datsan of datsans">
                                <td>{{datsan.id}}</td>
                                <td>{{datsan.san.name}}</td>
                                <td>{{datsan.san.numberpeople}}</td>
                                <td>{{datsan.price}}</td>
                                <td>{{datsan.user.name}}</td>
                                <td>{{datsan.user.phone}}</td>
                                <td>{{datsan.start_time}}</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="đã xán nhận" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
    
                </div>
            </ng-template>
    
            <ng-template #loading>
                <div class="text-center">
                    <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </sb-card>
</div>

<div *ngIf="!trangthai">
    <h1>Danh sách đặt sân của quán chưa xác nhận</h1>
    <sb-card>
        <div class="card-body">
            <div *ngIf="checkdatsans ; then display1 ; else loading1"></div>
            <ng-template #display1>
                <div class="row">
                    <table class="table table-striped " style="width:100%">
                        <thead>
                            <tr>
                                <td>id</td>
                                <td>Tên sân</td>
                                <td>Số người</td>
                                <td>Tiền</td>
                                <td>Tên Người đặt</td>
                                <td>Số điện thoại người đặt</td>
                                <td>giờ đặt sân</td>
                                <td>chủ quán xác nhận</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let datsan of datsans">
                                <td>{{datsan.id}}</td>
                                <td>{{datsan.san.name}}</td>
                                <td>{{datsan.san.numberpeople}}</td>
                                <td>{{datsan.price}}</td>
                                <td>{{datsan.user.name}}</td>
                                <td>{{datsan.user.phone}}</td>
                                <td>{{datsan.start_time}}</td>
                                <td>
                                    <input type="button" class="btn btn-primary" (click)="xacnhan(datsan.id)"
                                        value="xán nhận" />
                                </td>
                                <td>
                                    <fa-icon (click)="deleteDatSan(datsan)" [icon]='["fas","trash"]'
                                        class='fas fa-trash fa-2x'>
                                    </fa-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </ng-template>

            <ng-template #loading1>
                <div class="text-center">
                    <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </sb-card>
</div>