<h1 style="color:blue"> 1. thông tin cá nhân của người dùng
    <button class="btn btn-primary float-right" (click)="editInnkeeper()">Edit User</button>
</h1>
<sb-card>
    <div class="card-body">
        <div *ngIf="checkinnkeeper ; then display ; else loading"></div>
        <ng-template #display>
            <div class="row">
                <table class="table table-striped " style="width:100%">
                    <tbody>
                        <tr>
                            <td>full_name</td>
                            <td> <strong>{{ innkeeper.name}}</strong></td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td><strong>{{ innkeeper.phone}}</strong></td>
                        </tr>
                        <tr>
                            <td>Gmail</td>
                            <td><strong>{{ innkeeper.gmail }}</strong></td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td><strong>{{ innkeeper.address}}</strong></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </ng-template>

        <ng-template #loading>
            <div class="text-center">
                <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
    </div>
</sb-card>

<h1 style="color:aqua"> 2. các quán chưa được phe duyệt của chủ quán
</h1>

<sb-card>
    <div class="card-body">
        <div *ngIf="checklistquanschuapheduyet ; then display1 ; else loading1"></div>
        <ng-template #display1>
            <div class="row">
                
                <table class="table table-striped " style="width:100%">
                    <thead >
                        <tr>
                            <td>id</td>
                            <td>Name</td>
                            <td>Address</td>
                            <td>Phone</td>
                            <td>Ngày giờ đăng kí</td>
                            <td>Image</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody  >
                        <tr *ngFor="let quan of listquanschuapheduyet">
                            <td>{{quan.id}}</td>
                            <td>{{quan.name}}</td>
                            <td>{{quan.address}}</td>
                            <td>{{quan.phone}}</td>
                            <td>{{quan.Create_time}}</td>
                            <td>
                                <div *ngIf="quan.image">
                                    <img style="width: 5opx; height: 50px;" src="{{url+'/'+quan.image}}">
                                </div>
                                <div *ngIf="!quan.image">
                                    <img style="width: 50px; height: 50px;" class="profile_img" src="../../../assets/img/avatar.jpg">
                                </div>
                            </td>
                            <td>
                                <fa-icon routerLink="/dashboard/editQuanByTokenInnkeeper/{{quan.id}}" class='fas fa-trash fa-2x' [icon]='["fas","edit"]'></fa-icon>
                                <fa-icon (click)="deleteQuan(quan)" [icon]='["fas","trash"]' class='fas fa-trash fa-2x'></fa-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </ng-template>

        <ng-template #loading1>
            <div class="text-center">
                <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
    </div>
</sb-card>